html, body {
    padding: 0;
    margin: 0;
}
header {
    padding: 10px;
    background: #ddd;
}
header h1 {
    font-family: arial, sans-serif;
}
header nav ul {
    padding: 10px 0;
}
header nav ul li {
    display: inline-block;
    font-family: arial, sans-serif;
}
#body  {
    padding: 10px;
}
#body h2, #body h3, #body h4  {
    font-family: arial, sans-serif;
}
footer{
    padding: 50px 10px 10px 10px;
    text-align: center;
    font-size: 80%;
}
.content {
    max-width: 960px;
    margin: 0 auto;
}
.end-page-navigation {
    margin: 40px 0 10px 0;
}
@media screen and (min-width: 60rem) {
    .end-page-navigation {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }
}
.end-page-navigation > div {
    padding: 10px 5px;
    border: solid 1px #ccc;
    border-radius: 5px;
}
.link_list_item {
    padding: 5px 0;
}
.blog_list_item {
    padding: 5px 0;
}
ul.page_meta_details {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}
ul.page_meta_details li {
    margin: 5px 20px;
    padding: 0px;
    font-style: italic;
}
.event_list_item {
    padding: 5px 0;
}
