<h3>Recent Posts</h3>
{% assign recent_posts = site.posts|slice:0,3 %}
{% for post in recent_posts %}
    <div class="blog_list_item" itemscope itemtype="https://schema.org/BlogPosting">
        <h4>
            <a href="{{ post.url | relative_url }}" itemprop="url">
                <span itemprop="dateCreated">{{ post.date | date: "%a %e %B %Y" }}</span>:
                <span itemprop="name">{{ post.title }}</span>
            </a>
        </h4>
        <div>
            {% if post.description %}
                {{ post.description }}
            {% else %}
                {{ post.content | strip_html | truncatewords: 50 }}
            {% endif %}
        </div>
    </div>
{% endfor %}
{% assign posts_length = site.posts|size %}
{% if posts_length > 3 %}
    <div>
        <a href="{{ site.baseurl }}/blogs.html">More blogs</a>
    </div>
{% endif %}
