---
layout: default
---

<div itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="url" content="{{ page.url  | absolute_url }}">

    <h2 itemprop="name">{{ page.title }}</h2>

    <ul class="page_meta_details">
        <li itemprop="dateCreated">{{ page.date | date: "%a %e %b %Y" }}</li>
    </ul>

    <div itemprop="text">
        {{ content }}
    </div>

</div>

<div class="end-page-navigation">
  <div>
    {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}">
        Previous: {{page.previous.title}}
      </a>
    {% endif %}
  </div>
    <div>
        <a href="{{ site.baseurl }}/blogs.xml">RSS feed</a>
    </div>
  <div class="post-nav-next">
    {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}">
        Next: {{page.next.title}}
      </a>
    {% endif %}
  </div>
</div>
